<!-- component -->
<app-header [userImage]="userProfileImg" [userName]="name"></app-header>
<app-banner [bannerTitle]="(bannerDetails |async)?.original_title" [bannerOverView]="(bannerDetails |async)?.overview"
[key]="(bannerVideo | async)?.results[0].key"/>

<app-movie-carousel [title]="'Popular on Netflix'" [videoContents]="movies" />

<app-movie-carousel [title]="'Trending TV shows'" [videoContents]="tvShows" />

<app-movie-carousel [title]="'Now Playing Movies'" [videoContents]="nowPlayingMovies" />

<app-movie-carousel [title]="'Popular Movies'" [videoContents]="popularMovies" />

<app-movie-carousel [title]="'Upcoming Movies'" [videoContents]="upcomingMovies" />
